html {
	background-color: #E6D000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: #F0F;
}
::selection,
input::selection {
	background-color: black;
	opacity: 1;
}
.container {
	margin: 0 auto;
	width: 360px;
	padding-top: 40px;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	opacity: 0.8;
}
ul, ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1 {
	color: rgba(0,0,0,0.6);
	margin: 0 0 10px 0;
	font-size: 36px;
	padding: 0;
}
.whitebox {
	background-color: white;
	min-height: 36px;
	width: 100%;
	margin-bottom: 10px;
	color: #545342;
	transition: height 0.1s;
}
.whitebox .padder {
	margin: 0 20px;
	padding: 15px 0;
	transition: height 0.1s;
}
.whitebox.add::before,
.whitebox.current::before,
.whitebox.playlist::before {
	content: '';
	color: white;
	position: absolute;
	/*font-weight: bold;*/
	font-size: 10px;
	width: 50px;
	margin-left: -55px;
	text-align: right;
}
/*
.whitebox.add::before {content: 'Add'}
.whitebox.current::before {content: 'Current'}
.whitebox.playlist::before {content: 'Playlist'}
*/
.invisibox {
	height: 45px;
	margin: 15px 0;
}
.add input {
	outline: none;
	border: none;
	padding-right: 80px;
	text-indent: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: inherit;
	height: 46px;
	width: 100%;
}
.suggestions {
	transition: height 0.1s;
	/*display: none;*/
	margin-left: 20px;
	line-height: 1.4em;
	height: 85px;
	overflow: hidden;
	/*height: 0;*/
}
.time {
	font-size: 8px;
}
.current-time {
	position: relative;
	margin-top: -9px;
	text-indent: 20%;
	margin-left: -6px;
}

.current-time::before {
	content: '\25BC';
	font-size: 6px;
	position: absolute;
	left: 3px;
	top: -19px;
}
.total-time {
	margin-top: 3px;
	width: 100%;
	text-align: right;
	z-index: 999;
}
.progress-bar {
	margin: 15px 0 0;
	margin-left: -1px;
}
.progress-bar .bar-empty {
	width: 100%;
	height: 6px;
	border: 1px solid #545342;
}
.progress-bar .bar-complete {
	background-color: #545342;
	width: 20%;
	height: 100%;
}
.dashboard a:hover {
	opacity: 1;
}
.control {
	cursor: pointer;
	width: 25px;
	height: 25px;
	/*background-color: rgba(0,0,0,0.2);*/
	display: block;
	float: left;
	margin-right: 28px;
	margin-top: 10px;
	background-size: auto 25px;
}
.control:active {
	background-position: 25px;
}
.control:last-child {
	margin-right: 0;
}
.control.restart {background-image: url('images/ctrl-rr.png');}
.control.rewind {background-image: url('images/ctrl-10r.png');}
.control.speed-1x {background-image: url('images/speed-1x.png');}
.control.speed-1.5x {background-image: url('images/speed-15x.png');}
.control.speed-2x {background-image: url('images/speed-2x');}
.control.pause {background-image: url('images/ctrl-pause.png');}
.control.play {background-image: url('images/ctrl-play.png');}
.control.next {background-image: url('images/ctrl-next.png');}
.control.ctrl-large {
	width: 40px;
	height: 40px;
	margin-top: 2px;
	background-size: auto 40px;
}
.control.ctrl-large:active {
	background-position: 40px;
}
.control.volume {
	width: 80px;
	background-image: url('images/vol-empty.png');
	background-size: auto 25px;
	opacity: 0.6;
}
.control.volume:hover {
	background-position: 0;
}
.volume .volume-icon {
	width: 15px;
	height: 15px;
	position: absolute;
	background-image: url('images/vol-icon.png');
	background-size: auto 15px;
}
.volume .volume-icon-mute {background-image: url('images/vol-icon-mute.png');}
.volume .volume-slider,.ui-slider-range {
	width: 60px;
	height: 25px;
	/*position: absolute;*/
	background-image: url('images/vol-full.png');
	background-size: auto 25px;
}
.playlist .entry {
	padding: 8px 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.playlist .entry:first-child {
	padding-top: 0;
}
.playlist .entry:last-child {
	border: none;
	padding-bottom: 0;
}
.playlist .rm {
	background-image: url('images/rm.png');
	background-size: auto 10px;
	opacity: 0.7;
	width: 10px;
	height: 10px;
	position: absolute;
	margin-left: -15px;
	margin-top: 1px;
	cursor: pointer;
}
* {
	/*outline: 1px solid rgba(255,0,255,0.2);*/
}
